body {
	background-color:#e3e0c1;
	text-align: center;
}
p, h1, h2, h3, h4, h5, h6, li  {
	font-family: courier;
	color: #768c7c;
}
a {
	font-family: courier;
	color: #6682ad;
}
ol, ul {
	display: inline-block;
	text-align: left;
}

.ontable {
	margin: auto;
	margin-top: 150px;
	width: 1200px;
	height: 300px;
	display: flex;
}

.photoframe {
	z-index: 1;
	margin-top: auto;
	margin-bottom: -40px;
	margin-left: 100px;
	width: 150px;
	height: 150px;
	clip-path: polygon(0% 0%, 90% 0%, 100% 95%, 10% 100%);
	background-color: #47230f;
}

.photo {

}

.computer {

}

.waterbottle {

}

.lid {

}

.body {

}

.tabletop {
	margin: auto;
	width: 1200px;
	height: 50px;
	background-color: #592f1d;
	clip-path: polygon(5% 0%, 95% 0%, 100% 100%, 0% 100%);
}

.tablelegs {
	margin: auto;
	width: 1200px;
	height: 400px;
	display: flex;
}

.tableleg {
	position: relative;
	height: 400px;
	width: 20px;
	background-color: #592f1d;
}

#tableleg1 {
	margin-right: 25px;
}

#tableleg2 {
	margin-right: 1070px;
	height: 350px;
}

#tableleg3 {
	margin-right: 25px;
	height: 350px;
}

.carpet {
	position: relative;
	clip-path: polygon(10% 0%, 90% 0%, 100% 100%, 0% 100%);
	z-index: -1;
	margin: auto;
	margin-top: -300px;
	width: 1500px;
	height: 400px;
	background-color: #851104;
}

