body {
        background-color:#e3e0c1;
        text-align: center;
}
p, h1, h2, h3, h4, h5, h6, li  {
        font-family: courier;
        color: #768c7c;
}
a {
        font-family: courier;
        color: #6682ad;
}
ol, ul {
	display: inline-block;
	text-align: left;
}
.center {
	margin: auto;
	width: 50%;
	padding: 10px;
	text-align: center;
}

.note {
	font-size: 15px;
        font-family: 'Times New Roman';
	font-weight: 20;
	font-style: italic;
	background-color: #ccca68;
        color: DimGray;
	position: absolute;
	top: 100px;
	left: 100px;
	width: 260px;
	height: 260px;
}
#imgholder{
	height: 200px;
	width: 200px;
	background-color gray;
	box-shadow: 5px 2px 2px black;
}

#whiteboard{
	 
	background-color: white;
	margin: auto;
	width: 1500px;
	height: 800px;
	border: solid;
	border-width: 30px; 
	border-color: #8c989c #575e61;
}

.whiteboardtext{
	font-size: 20px;
	color: black; 
	font-family: helvetica;
	font-variant-caps: all-small-caps;
	font-style: italic;
	font-weight: 900;

}

#altar{
	z-index: 3;
	margin: auto;
	width: 1000px;
	height: 100px;
	background-color: darkred;
	border-style: none none solid none;
}
#altarbase{
	z-index: 1;
	display: flex;
	margin: auto;
	width: 900px;
	border-style: none solid none solid;
	background-color: /*#ffffe0*/ #797d79;
	height: 300px;
}

#altarfoot{
	display: flex;
	margin: auto;
	width: 950px;
	background-color: /*#ffffe0*/#e6e7eb;
	border: solid;
	border-width: 3px;
	height: 25px;
}
.altar-pillar{
	z-index: 2;
	margin: auto; 
	height: 300px;
	width: 75px;
	background-color: /*#fffff0*/#9da39e;
	border-style: none solid none solid;
	border-width: 3px;
}
.altar-deco{
	background-color: #d2d3d7;
	width: 350px;
	height: 300px;
	margin: 0px -75px;
}

.cd-border{
	margin: auto;
	margin-top: 50px;
	opacity: 1;
	border: solid;
	border-radius: 200px;
	border-width: 75px;
	border-color: black;
	height: 50px;
	width: 50px;
}
.cd{
	opacity: 1;
	border: solid;
	border-radius: 200px;
	border-width: 71px;
	border-color: #99e1e2 #b9e5ea #c5eaed #b3e5ea;
	height: 54px;
	width: 54px;
	margin: -73px;
}
#altartop{
	margin: auto;
	margin-top: 100px;
	display: flex;
	width: 1000px; 
}

#cup{
	margin: auto;
	background-color: #afb9c7;
	height: 150px;
	width: 75px;
	margin-right: 180px;
	clip-path: polygon(0% 100%, 0% 95%, 43% 95%, 43% 33%, 10% 33%, 0% 0%, 100% 0%, 90% 33%, 57% 33%, 57% 95%, 100% 95%, 100% 100%)

}
#plate{
	margin: auto;
	margin-bottom: 0px;
	background-color: #afb9c7;
	width: 200px;
	height: 20px;
	clip-path: polygon(100% 0%, 90% 100%, 10% 100%, 0% 0%)
}

#cover{
	margin: auto;
	margin-bottom: 0px;
	height: 10px;
	width: 300px;
	background-color: #2b1d2e;
}

#pages{
	background-color: ivory;
	height: 75px;
	width: 276px;
	margin: auto;
	clip-path: path('M 0 30 Q 69 30 138 70 Q 205 30 276 30 L 276 75 L 0 75 z');

}
#book{
	height: 85px;
	width: 300px;
	margin: auto;
	margin-bottom: 0px;
}
#bookpopup{
	margin: auto;
	margin-top: 70px;
	display: flex;
	background-color: ivory;
	width: 350px;
	height: 280px;
	border-style: none solid;
	border-width: 10px;
	border-color: #2b1d2e;
	text-align: center;

}
.leftpage {
	height: 280px;
	width: 170px;
	border-style: none solid none none;
	border-color: #f5f5d7;
	text-align: center;
	font-family: sans-serif;
	font-style: italic;
	font-variant: small-caps;
	color: black;
	
}
.rightpage {
	height: 280px;
	width: 170px;
	border-style: none none none solid;
	border-color: #f5f5d7;
	font-family: sans-serif;
	font-variant: small-caps;
	font-style: italic;
	color: black;

}
.title {
	font-family: sans-serif;
	font-variant: all-small-caps;
	color: black;
	font-weight: 1000;

}

#cuppopup{
	display: flex;
	flex-wrap: wrap;
	background-color: #ee0002;
	border: solid;
	border-width: 10px;
	border-color: #afb9c7;
	border-radius: 100%;
	margin: auto;
	height: 190px;
	width: 190px;
	margin-top: 100px;

}
#platepopup{
	background-color: #888f99;
	border: solid;
	border-width: 10px;
	border-color: #afb9c7;
	border-radius: 100%;
	margin: auto;
	height: 290px;
	width: 290px;
	margin-top: 50px;
}
.popup{
	z-index: 6;
	position: absolute;
	height: 400px;
	width: 400px;
	background-color: darkred;
	border: solid;
}
.sm-cd-border{
	opacity: 1;
	border: solid;
	border-radius: 200px;
	border-width: 30px;
	border-color: black;
	height: 20px;
	width: 20px;
}
.sm-cd{
	opacity: 1;
	border: solid;
	border-radius: 200px;
	border-width: 26px;
	border-color: #99e1e2 #b9e5ea #c5eaed #b3e5ea;
	height: 24px;
	width: 24px;
	margin: auto;
	margin-top: -28px;
	margin-left: -28px;
}
.letter{
	font-family: sans-serif;
	font-variant: all-small-caps;
	color: #f9cf77;
	font-weight: 1000;
	font-size: 30px;
	text-shadow: 2px 2px 2px 2px;
	width: 17px;
	height: 25px;

}
.x {
	font-family: sans-serif;
	color: black;
	font-weight 1000; 
	font-size: 40px;
	width: 20px;
	height: 20px;
	margin-left: 360px;
	
}
