body {
	background-color:#e3e0c1;
	text-align: center;
}
p, h1, h2, h3, h4, h5, h6, li  {
	font-family: courier;
	color: #768c7c;
}
a {
	font-family: courier;
	color: #6682ad;
}
ol, ul {
	display: inline-block;
	text-align: left;
}
.tv {
	margin:auto;
	margin-top: 200px;
	padding-top: 5px;
	width: 600px;
	height: 400px;
	background-color: #333343;
}
.tvinside {
	margin:auto;
	width: 590px;
	height: 390px;
	background-color: #000000;
}
.cdplayer {
	margin: auto;
	margin-top: auto;
	margin-bottom: 0px;
	width: 150px;
	height: 20px;
	background-color: #dddddd;
	padding-top: 20px;

}
.cdslot {
	margin: auto;
	width: 100px;
	height: 5px;
	background-color: #000000;

}
.tvstand {
	margin: auto;
	background-color: #000000;
	width: 700px;
	height: 350px;
	display: grid;
	padding-left: 20px;
	padding-top: 20px;
	grid-template-columns: repeat(4, auto);
}
.tvstandhole {
	width: 150px;
	height: 150px;
	background-color:#d2d0b0;
	display: flex;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	
}
.tvbasket {
	width: 150px;
	height: 150px;
	background-color: #a37c49;
}
.tvbaskethandle {
	margin: auto;
	margin-top: 10px;
	width: 50px;
	height: 15px;
	background-color: #5f3805;
}
.remote {
	margin: auto;
	margin-bottom: 0px;
	height: 15px;
	width: 100px;
	background-color: #000000;
	clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 40% 80%, 0% 100%);
}
.popup{
	z-index: 6;
	position: absolute;
	height: 250px;
	width: 250px;
	background-color: #815a27;
	border: solid;
	border-width: 15px;
	border-color: #a37c49;
}
.x {
	font-family: sans-serif;
	color: black;
	font-weight 1000; 
	font-size: 40px;
	width: 20px;
	height: 20px;
	margin-left: 220px;
	
}
#remoteup {
	z-index: 6;
	position: absolute;
	height: 100px;
	width: 40px;
	background-color: #000000;
	border: solid;
	border-color: #ffffff;
	color: #ffffff;
}

#remotex {
	font-family: sans-serif;
	color: white;
	font-weight 1000; 
	font-size: 20px;
	width: 20px;
	height: 20px;
	margin-left: 0px;
}
.sm-cd-border{
	margin: auto;
	opacity: 1;
	border: solid;
	border-radius: 300px;
	border-width: 40px;
	border-color: black;
	height: 25px;
	width: 25px;
}
.sm-cd{
	opacity: 1;
	border: solid;
	border-radius: 300px;
	border-width: 36px;
	border-color: #99e1e2 #b9e5ea #c5eaed #b3e5ea;
	height: 29px;
	width: 29px;
	margin: auto;
	margin-top: -38px;
	margin-left: -38px;
}
.paper {
	font-family: courier;
	color: #768c7c;
	rotate: -15deg; 
	background-color: #f2eecb;
	width: 150px;
	margin: auto;
	height: 200px;
}

